<% if @followers.any? %>
	<% @followers.each do |follower| %>
		<div class="row">
			<%= link_to "#{follower.name}", follower %>
		</div>
	<% end %>
<% else %>
	<div class="row">
		Not followed anyone yet...
	</div>
<% end %>