@import "bootstrap-sprockets";
@import "bootstrap";

$blue: #45B4FF;
$grayLighter: #D6D6D6;

body {
	margin: 100px 0px 100px 0px;
}
body, html {font-family:Arial, Helvetica, sans-serif;width:100%;margin:0;padding:0;text-align:center;}

h1 {
	background-color:#600;
	color:#fff;
	padding:20px 0;
	margin:0;
}

a img {
	border:0;
}

td {
	font-size:15px;
}

.image{
	 background-color:#eee;
	 border:1px solid #ddd;
	 border-bottom:1px solid #bbb;
	 padding:5px;
 }

 .row{
 		margin-top: 20px;
 }

#nav
{
	padding:0;
		li{
			display:inline;
			width:auto;

				a{
					font-family: Comic Sans MS;
					font-size:17px;
					text-decoration: none;
					float:center;
					padding:10px;
					background-color: #333333;
					color:#ffffff;
					border-bottom:1px;
					border-bottom-color:#000000;
					border-bottom-style:solid;

					&:hover{
							background-color:#9B1C26;
							padding-bottom:12px;
							border-bottom:2px;
							border-bottom-color:#000000;
							border-bottom-style:solid;
							margin:-1px;
						}
				}
		}
}

.pagination
{
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  margin-bottom: 45px;
  cursor: default;
  ul{
  		list-style:none;
  }
  li, span{
	    padding: 0.2em 0.3em;
	    display: inline;
	  }
	  .prev, {
	    color: #aaaaaa;
	  	}
  .active{
	    font-style: normal;
	    font-weight: bold;
	    background-color: darken(#f1f1f1, 20);
	    display: inline-block;
	    width: 1.4em;
	    height: 1.4em;
	    line-height: 1.5;
	    -moz-border-radius: 1em;
	    -webkit-border-radius: 1em;
	    border-radius: 1em;
	    text-shadow: rgba(white, .8) 1px 1px 1px;
	    }
	  a{
	    text-decoration: none;
	    color: black;
	    &:hover, &:focus{
	      text-decoration: underline;
	     }
	   	}
  }

.navbar-bottom-customized {
	background-color: rgba(255, 255, 255, 1);
}

.comment-body{
		margin: 0 auto;
		height: 10px;
		width: 250px;
}

.form-control{
		width: 400px;
		margin: 0 auto;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

