<footer class="footer">
  <nav class="navbar navbar-fixed-bottom navbar-bottom-customized">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
         <hr style="margin-bottom:0;margin-top:0;">
        <div class="row">
                    <div style="color:rgba(0,0,0,0.6);text-align:center;padding:15px 0px;">
                       &copy; praveen selvaraj 2014
                    </div>
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container -->
    </nav>
</footer>