<footer class="footer">
  <nav class="navbar navbar-fixed-bottom navbar-bottom-customized">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
         <hr style="margin-bottom:0;margin-top:0;">
        <div class="row">
                       &copy; praveen selvaraj 2014
        </div>
        <!-- /.row -->
        
    </div>
    <!-- /.container -->
    </nav>
</footer>